body {
    font-family: Arial, Tahoma, Verdana, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100%;
    margin: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

/* Header */
header {
    height: 350px;
    background: #FFE680;
    background-image: url(../images/Montaña.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; /* Para permitir que los elementos dentro se ubiquen de manera más precisa */
}

/* Logo */
.logo-aramon {
    position: absolute; /* Para posicionarlo de manera absoluta dentro del header */
    top: 50%; /* Centra el logo verticalmente */
    left: 50%; /* Centra el logo horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición al centro exacto */
    width: auto; /* Deja que el logo se ajuste automáticamente */
    height: 20%; /* Ajusta la altura proporcionalmente */
}

.tarifas {
    background-color: #c8d8d5;
    padding: 60px 20px;
    text-align: center;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.5em;
    margin-bottom: 40px;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.tarifa-item {
    background: #ffffff;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.tarifa-item:hover {
    transform: translateY(-10px);
}

h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

p {
    font-size: 20px;
    line-height: 1.8;
    color: #333;
    margin-bottom: 20px;
}

/* Footer */
#footer {
    text-align: center;
    padding: 20px;
    background: black;
    background-size: 550px;
    width: 100%;
    bottom: 0;
}

#footer ion-icon {
    font-size: 40px;
    color: white;
    margin: 0 10px;
    text-align: center;
}